  <nav>
    <% if current_user != nil %>
      <a href="/">Home</a>   
      <a href="/performances">Go back</a>   
      <a href="/users/edit">Edit profile</a>    
      <a href="/performances">Log a Workout</a>   
    <% else %>  
      <a href="/">Sign in</a>        
    <% end %> 
  </nav>

<hr></hr>

<h1>Workout Summary</h1>

<hr></hr>

<h2>This Week</h2>

<table border="1" style="text-align: center;">
  <tr>
    <th>Workout</th>
    <th>Workouts this Week</th>
  </tr>

<% Habit.all.each do |habit_week| %>
  <tr> 
    <td> <%= habit_week.habit_name %> </td>
    <td> <%= habit_week.performances.where(performed_on: Time.current.beginning_of_week..Time.current.end_of_week).count %> 
    </td>

  </tr>
  <% end %>
</table>


<hr></hr>

<h2>This Month</h2>

<table border="1" style="text-align: center;">
  <tr>
    <th>Workout</th>
    <th>Workouts this Month</th>
  </tr>

<% Habit.all.each do |habit_month| %>
  <tr> 
    <td> <%= habit_month.habit_name %> </td>
    <td> <%= habit_month.performances.where(performed_on: Time.current.beginning_of_month..Time.current.end_of_month).count %> 
    </td>
  </tr>
  <% end %>
</table>


<hr></hr>

<h2>All Time</h2>

<table border="1" style="text-align: center;">
  <tr>
    <th>Workout</th>
    <th>All Time # of Workouts</th>
  </tr>

<% Habit.all.each do |habit| %>
  <tr> 
    <td> <%= habit.habit_name %> </td>
    <td> <%= habit.performances.count %> </td> 
  </tr>
  <% end %>
</table>
