<div>
  <div>
    <h1>
      Log a workout
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
<!--    <h2>
      Add a new performance
    </h2>-->

    <form action="/insert_performance" method="post">
<!--      <div>
        <label for="created_at_box">
          Created at
        </label>

        <input type="datetime-local" id="created_at_box" name="query_created_at">
      </div>-->

<!--      <div>
        <label for="updated_at_box">
          Updated at
        </label>

        <input type="datetime-local" id="updated_at_box" name="query_updated_at">
      </div>-->

      <div>
        <label for="habit_id_box">
          Habit
        </label>

        <%= form.select :day, Date::DAYNAMES, prompt: "Select a day" %>

<!--      <select name="habit">
        <option value="Back_Biceps">Back/Biceps</option>
        <option value="Chest_Triceps">Chest/Triceps</option>
        <option value="Legs">Legs</option>
        <option value="Shoulders/Core">Shoulders/Core</option>        
      </select>

        <input type="checkbox" id="habit_id_box" name="query_habit_id">
-->
      </div>

<!--      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>-->

      <div>
        <label for="performed_on_box">
          Performed on
        </label>

        <input type="date" id="performed_on_box" name="query_performed_on">
      </div>

      <button>
        Log workout
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          Habit
        </th>

        <th>
          User
        </th>

        <th>
          Performed on
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_performances.each do |a_performance| %>
      <tr>
        <td>
          <%= a_performance.id %>
        </td>

        <td>
          <%= a_performance.created_at %>
        </td>

        <td>
          <%= a_performance.updated_at %>
        </td>

        <td>
          <%= a_performance.habit_id %>
        </td>

        <td>
          <%= a_performance.user_id %>
        </td>

        <td>
          <%= a_performance.performed_on %>
        </td>

        <td>
          <%= time_ago_in_words(a_performance.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_performance.updated_at) %> ago
        </td>

        <td>
          <a href="/performances/<%= a_performance.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
